{% if site.enable_tooltips %}
  <!-- Enable Tooltips -->
  <script type="text/javascript">
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
  </script>
{%- endif %}
{%- if site.enable_medium_zoom %}
  <!-- Medium Zoom JS -->
  <script defer src="https://cdn.jsdelivr.net/npm/medium-zoom@{{ site.medium_zoom.version }}/dist/medium-zoom.min.js" integrity="{{ site.medium_zoom.integrity }}" crossorigin="anonymous"></script>
  <script defer src="{{ '/assets/js/zoom.js' | relative_url }}"></script>
{%- endif -%}

  <!-- Load Common JS -->
  <script defer src="{{ '/assets/js/common.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/copy_code.js' | relative_url }}" type="text/javascript"></script>

  <!-- Custom script to redirect publications link to Google Scholar -->
  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    // Find all links to /publications/
    var pubLinks = document.querySelectorAll('a[href*="/publications/"]');
    
    pubLinks.forEach(function(link) {
      // Change the href to Google Scholar
      link.href = 'https://scholar.google.com/citations?user=7g5CR0oAAAAJ&hl=en';
      // Make it open in a new tab
      link.target = '_blank';
      link.rel = 'noopener noreferrer';
    });
  });
  </script>